@model VehicleLeasingApp.Models.Vehicle

@{
    ViewBag.Title = "Delete Vehicle";
}

<h2>Delete Vehicle</h2>

<div class="alert alert-danger">
    <h4>Are you sure you want to delete this vehicle?</h4>
</div>

<div class="row">
    <div class="col-md-6">
        <h4>Vehicle Information</h4>
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(model => model.LicensePlate)</dt>
            <dd>@Html.DisplayFor(model => model.LicensePlate)</dd>

            <dt>@Html.DisplayNameFor(model => model.Make)</dt>
            <dd>@Html.DisplayFor(model => model.Make)</dd>

            <dt>@Html.DisplayNameFor(model => model.Model)</dt>
            <dd>@Html.DisplayFor(model => model.Model)</dd>

            <dt>@Html.DisplayNameFor(model => model.Year)</dt>
            <dd>@Html.DisplayFor(model => model.Year)</dd>

            <dt>@Html.DisplayNameFor(model => model.Status)</dt>
            <dd>@Html.DisplayFor(model => model.Status)</dd>
        </dl>
    </div>

    <div class="col-md-6">
        <h4>Relationships</h4>
        <dl class="dl-horizontal">
            <dt>Supplier</dt>
            <dd>@Html.DisplayFor(model => model.Supplier.Name)</dd>

            <dt>Branch</dt>
            <dd>@Html.DisplayFor(model => model.Branch.Name)</dd>

            <dt>Client</dt>
            <dd>@(Model.Client?.CompanyName ?? "N/A")</dd>

            <dt>Driver</dt>
            <dd>@(Model.Driver?.FullName ?? "N/A")</dd>
        </dl>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <input type="submit" value="Delete" class="btn btn-danger" />
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
    </div>
} 